#--------------------------NODE / EXPRESS

#Dependências do node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Builds temporários / cache
dist/
build/
.cache/
.tmp/

#Ambiente local
.env

#Logs
logs/
*.log


#--------------------------FRONTEND (HTML / CSS / JS)

#Arquivos temporários
*.swp

#Cache de navegadores ou ferramentas
.cache/
*.tmp
*.bak
*.old

images/


#--------------------------DOCKER

#Arquivos de build e volumes locais
*.pid
*.seed
*.pid.lock
docker-compose.override.yml

#Volumes e imagens locais
data/
volumes/
tmp/


#--------------------------PYTHON (possivel uso de scripts auxiliares)

__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/
venv/
env/
.venv/


#--------------------------DATABASES / BACKUPS

#Bancos locais (SQLite etc.)
*.db
*.sqlite
*.sqlite3

#Dumps de banco
*.sql
*.bak
*.backup
*.dump


#--------------------------SISTEMA E IDE

#VSCode / JetBrains
*.code-workspace
.vscode/
.idea/
*.iml

#Arquivos do sistema
.DS_Store
Thumbs.db
desktop.ini