body{
  font-family: "Trebuchet MS", sans-serif;
  background-color: #1a001f;
  color: #f8f9fa;
  margin: 0;
  padding: 0;
}

header{
  background-color: #7209b7;
  padding: 1rem;
  text-align: center;
}

header h1{
  margin: 0;
  color: #ffd6ff;
}

nav{
  margin-top: 1rem;
}

nav a{
  color: #ffd6ff;
  text-decoration: none;
  margin: 0 10px;
  padding: 6px 10px;
  border-radius: 8px;
}

nav a:hover{
  background-color: #b5179e;
}

main{
  padding: 2rem;
  padding-bottom: 6rem; /*Adiciona espaço no final para o rodapé*/
}

footer{
  background-color: #3a0ca3;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.chart-container{
  width: min(90vw, 420px);
  aspect-ratio: 1 / 1; /*mantém o formato circular*/
  margin: 2rem auto;
  background: radial-gradient(circle at center, #2b0058 0%, #1a001f 100%);
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:
    0 0 20px rgba(157, 78, 221, 0.3),
    inset 0 0 25px rgba(157, 78, 221, 0.15);
}

.chart-box{
  background: rgba(45, 0, 65, 0.4); /*leve transparência roxa*/
  border: 2px solid rgba(157, 78, 221, 0.5);
  border-radius: 20px;
  padding: 20px 30px;
  width: min(95vw, 480px);
  margin: 2rem auto;
  box-shadow:
    0 0 15px rgba(157, 78, 221, 0.3),
    inset 0 0 20px rgba(255, 255, 255, 0.05);
  text-align: center;
}

#lista-personagens {
    max-width: 700px;  /*Deixa o container "pequeno"*/
    margin: 0 auto;    /*Centraliza o container na tela*/

    /*Estilos bônus (para parecer com a pág. de detalhes)*/
    background-color: #2b0b3f;
    padding: 1.5rem;
    border-radius: 8px;
}

/*Estilo para a linha separadora <hr>*/
#lista-personagens hr {
    border: 0;
    border-top: 1px solid #46096e;
    margin: 1.5rem 0;
}

#lista-personagens h2 {
    color: #ffd6ff; /*Cor da letra A, B, C...*/
    margin-top: 1.5rem;
    border-bottom: 2px solid #d0bcdd;
    padding-bottom: 5px;
}

#lista-personagens a.link-personagem {
    display: block; /*Faz cada link ocupar uma linha*/
    color: #f8f9fa;
    text-decoration: none;
    padding: 8px 5px;
    border-radius: 4px;
    margin: 4px 0;
}

#lista-personagens a.link-personagem:hover {
    background-color: #3c1361;
    color: #fff;
}